{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'myStyle.css' %}">
    <script src="{% static 'index.js' %}"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cookbook</title>
</head>
<body>
    <div class="searchBarDiv">
        <input name="searchBar" type="search" id="searchBarAllTags" class="searchBar" placeholder="search tag ..." oninput="updateSearch(this.value)" />
    </div>
        <div class="allTagsDiv">
            {% for tag in tags %}
            <div class="tagElement">
                <div class="nameTagElementChildDiv" >
                    <form action="interactWithTag" method="POST">
                        {% csrf_token %}
                        <!-- bare lav en kasse med buttons i - på den måde kan du overføre data når man "trykker" på knappen
                        når knappen er blevet trykket på, kan den derefter være en specifik farve (mere grå)
                        der skal så gøres noget æstetisk så buttonsne ikke ligner buttons
                    
                            https://stackoverflow.com/questions/4706255/how-to-get-value-from-form-field-in-django-framework
                    -->
                            
                                {% if tag.selected %}
                                    <button name="tagInTagsMenu" type="onclick" value="{{ tag }}" style="background:fixed; background-color: grey;">{{ tag }}</button>
                                {% else %}
                                    <button name="tagInTagsMenu" type="onclick" value="{{ tag }}" style="background: none!important;">{{ tag }}</button>
                                {% endif %}
                    </form>
                </div>
                <div class="removeTagElementChildDiv">
                    <form action="deleteTag" method="POST">
                        <!-- det er en post den fyrer med den kan ikke finde navnet for some reason-->
                        {% csrf_token %}
                        <input type="image" name="deleteTagImage" class="deleteTagImage" src="{% static 'images/deleteTag.png' %}" width = "10" height = "10" onclick="return window.confirm('Are you sure you want to delete this tag? ')">
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="deselectOrSelectAllTagsDiv">
            <form action="selectAllTags" method="POST">
                {% csrf_token %}
                <button name="selectAllButton" type="onclick">select all</button>
            </form>
            <form action="deselectAllTags" method="POST">
                {% csrf_token %}
                <button name="deselectAllButton" type="onclick">deselect all</button>
            </form>
        </div>
        <div class="addTagsDiv">
            <h5 class="addTagText">Add tag:</h5>
            <form action="addTag" method="POST" onsubmit="return verifyTagIsUnique(this)">
                {% csrf_token %}
                <input type="text" name="addTagInput" size="7">
            </form>
        </div>
        <!-- der skal være en eller anden toggle eller lign. for om recipes'ne skal vises hvor de opfylder alle tags, 
            eller hvor blot de kan have en af det tags (så basically om or eller and) -->
</body>
</html>