{% load static %}
{% load util %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{% static 'myStyle.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/multiple-select@1.6.0/dist/multiple-select.min.css">
    <script src="{% static 'index.js' %}"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cookbook</title>
</head>

<body><!-- måske tags skal være i en sidebar så de ikke fylder så meget -->

    <div class="topBar"> <!-- pt er det mere tags der bare skal flyttes længere ned-->
        <div class="wrapper">
            <div class="topBarOption" id="topBarSearchBarDiv">
                <input list="searchBarSuggestions" type="search" placeholder="recipe ..." oninput="updateSearch(this)">
                <datalist id="searchBarSuggestions">
                    
                </datalist>
                <!-- this placeholder should be changed when changing #topBarTypeOfSearch -->
            </div>
        </div>
        <div class="topBarOption" id="topBarFilterSelection">
            <select>
                <option value="" selected disabled hidden>Filter</option>
                <option>date added (descending)</option>
                <option>date added (ascending)</option>
            </select>
            <input type="image" src="{% static 'images/deleteTag.png' %}" width="10" height="10">
        </div>
        <div class="topBarOption" id="topBarTypeOfSearch">
            <div>
                <p>search for ...</p>
            </div>
            <div id="typeOfSearchSelectionDiv">
                <select id="typeOfSearchSelection" onchange="return changeTypeOfSearchSelection(this)">
                    <!--would be nice if this could be handled by js-->
                    <option value="recipes">recipes</option>
                    <option value="tags">tags</option>
                </select>
            </div>
        </div>
    </div>

    <div class="tagSection">
        <div class="searchBarDiv">
            <input name="searchBar" type="search" id="searchBarAllTags" class="searchBar" placeholder="search tag ..."
                oninput="updateTagSearch(this.value)" />
        </div>
        <div class="allTagsDiv">
            {% for tag in myTags %}
            <div class="tagElement">
                <div class="nameTagElementChildDiv">
                    <form action="interactWithTag" method="POST">
                        {% csrf_token %}
                        {% if tag.selected %}
                        <button name="tagInTagsMenu" class="tagInTagsMenu" type="onclick" value="{{ tag }}"
                            style="background:fixed; background-color: grey;">{{ tag }}</button>
                        {% else %}
                        <button name="tagInTagsMenu" class="tagInTagsMenu" type="onclick" value="{{ tag }}"
                            style="background: none!important;">{{ tag }}</button>
                        {% endif %}
                    </form>
                </div>
                <div class="removeTagElementChildDiv">
                    <form action="/deleteTag" method="POST">
                        {% csrf_token %}
                        <input type="image" name="deleteTagImage" class="deleteTagImage"
                            src="{% static 'images/deleteTag.png' %}" width="10" height="10"
                            onclick="return removeTag(this.parentElement.parentElement)">
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="deselectOrSelectAllTagsDiv">
            <form action="selectAllTags" method="POST">
                {% csrf_token %}
                <button name="selectAllButton" type="onclick">select all</button>
            </form>
            <form action="deselectAllTags" method="POST">
                {% csrf_token %}
                <button name="deselectAllButton" type="onclick">deselect all</button>
            </form>
        </div>
        <div class="addTagsDiv">
            <h5 class="addTagText">Add tag:</h5>
            <form action="addTag" method="POST" onsubmit="return verifyTag(this)">
                {% csrf_token %}
                <input type="text" name="addTagInput" size="7">
            </form>
        </div>
        <!-- der skal være en eller anden toggle ("recipe must have all tags") eller lign. for om recipes'ne skal vises hvor de opfylder alle tags, 
            eller hvor blot de kan have en af det tags (så basically om or eller and) -->
    </div>
    <div class="showRecipesSection">
        <!--this button could also be in the top bar-->
        {% if myRecipes|anyRecipeIsBeingEdited %}
            <form action="/exitEditingAllRecipes"  method="POST">
                {% csrf_token %}
                <button class="exitEditingAllRecipes">Exit editing for all recipes</button>
            </form>
        {% endif %}
        {% for recipe in myRecipes %}
            {% if forloop.counter0|modulo:3 == 0 %}
                <div class="rowOfRecipesDiv">
            {% endif %}

                <div class="recipeDiv">
                    {% if not recipe.isBeingEdited %}
                        <form action="/editRecipe"  method="POST">
                            {% csrf_token %}
                            <button class="editRecipeButton" name="recipeId" value="{{ recipe.id }}">edit</button>
                        </form>
                        <div class="recipeImageDiv">
                            <a href="{{ recipe.link }}" target="_blank"><img class="recipeImage" src="{{ recipe.image }}"></a>
                        </div>
                        <div class="titleAndTagsForRecipeDiv">
                            <h1 class="titleForRecipe" value="{{ recipe }}">{{ recipe }}</h1>
                            <p class="tagsForRecipeText">
                                Tags: 
                                {% for tag in recipe.tagNames.all %}
                                    {{ tag}}
                                    {% if not forloop.last %}
                                        ,
                                    {% endif %}
                                {% endfor %}

                            </p>
                        </div>
                    {% else %}
                        <form action="/saveEditedRecipe"  method="POST">
                            {% csrf_token %}
                            <p class="titleForChangingStuffForRecipe">Change name for recipe:</p>
                            <input class="inputsForStuffToChangeOnRecipe" type="text" title="change recipe name" name="nameOfRecipeToEdit" id="nameOfRecipeToEdit" value="{{ recipe.name }}">
                            <p class="titleForChangingStuffForRecipe">Change link for recipe::</p>
                            <input class="inputsForStuffToChangeOnRecipe" type="url" title="change recipe link" name="linkOfRecipeToEdit" id="linkOfRecipeToEdit" value="{{ recipe.link }}">
                            <p class="titleForChangingStuffForRecipe">Change image for recipe:</p>
                            <input class="inputsForStuffToChangeOnRecipe" type="url" title="change recipe image" name="imageOfRecipeToEdit" id="imageOfRecipeToEdit" value="{{ recipe.image }}">
                            <p class="titleForChangingStuffForRecipe">Add/remove tags from recipe:</p>
                            <select multiple="multiple" name="tagsOfRecipeToEdit">
                            {% for tag in myTags %}
                                {% if tag in recipe.tagNames.all %}
                                    <option value="{{ tag }}" selected>{{ tag }}</option>
                                {% else %}
                                    <option value="{{ tag }}">{{ tag }}</option>
                                {% endif %}
                            {% endfor %}
                            </select>
                            <input type="hidden" name="idOfRecipeToEdit" value="{{recipe.id}}">
                            <br>
                            <br>
                            <button>Save recipe and exit editing</button>
                        </form>
                        <form action=""  method="POST">
                            {% csrf_token %}
                            <button>Undo changes</button>
                        </form>
                        <form action="/exitEditing"  method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="idOfRecipeToEdit" value="{{recipe.id}}">
                            <button>Exit editing</button>
                        </form>
                    {% endif %}
                </div>
            {% if forloop.counter0|modulo:3 == 2 or forloop.last %}
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="addRecipeSection">
        <h4>Add recipe based on URL:</h4>
        <form action="/addRecipe" method="POST">
            {% csrf_token %}
            <input type="url" name="linkOfRecipeToAdd" id="linkOfRecipeToAdd" placeholder="URL for recipe" required>
            {% csrf_token %}
            <!--this input must be santized-->
            <input type="text" name="nameOfRecipeToAdd" id="nameOfRecipeToAdd" placeholder="name of recipe" required>
            <input type="url" name="imageOfRecipeToAdd" id="imageOfRecipeToAdd" placeholder="link to image of recipe">
            <div class="associatedTagsForRecipeToAddDiv">
                <h4 id="tagsForRecipe">Selected Tags for recipe:</h4>
                {% csrf_token %}
                {% for tag in myTags %}
                <input type="checkbox" value="{{ tag }}" name="tagsToAddToRecipe" id="{{ tag }}">
                <label for="{{ tag }}"> {{ tag }}</label><br>
                {% endfor %}
            </div>
            <input type="submit" value="Add recipe">
        </form>

        <h4>or add it some other way: </h4> <!--epicR stuff and also maybe from txt/docx file-->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
    <script src="https://unpkg.com/multiple-select@1.6.0/dist/multiple-select.min.js"></script>
    <script>
      $(function () {
        $('select').multipleSelect()
      })
    </script>
</body>

</html>